= form_for [:backend, :galleries, @article], html: {class: 'form-horizontal'} do |form|
  %fieldset
    %ul.nav.nav-tabs.tabs
      %li.active
        %a{href:'#tab1', 'aria-controls' => 'tab1', 'data-toggle' => 'tab', role: 'tab'}= t('label.form.main')
      %li
        %a{href:'#tab2', 'aria-controls' => 'tab2', 'data-toggle' => 'tab', role: 'tab'}= t('label.form.media')
      %li
        %a{href:'#tab3', 'aria-controls' => 'tab3', 'data-toggle' => 'tab', role: 'tab'}= t('label.form.seo')
    .tab-content
      #tab1.tab-pane.active{role: 'tabpanel'}= render '/backend/articles/tab1', form: form
      #tab2.tab-pane{role: 'tabpanel'}= render 'tab2', form: form
      #tab3.tab-pane{role: 'tabpanel'}= render '/backend/articles/tab3', form: form
    .row
      .col-sm-12
        .well
          = form.submit t('form.save'), data: { disable_with: t('form.wait') }, class: 'btn btn-success'
          = form.submit t('form.save_and_exit'), data: { disable_with: t('form.wait') }, class: 'btn btn-primary'
          = link_to t('form.cancel'), backend_galleries_articles_path, class: 'btn btn-warning'
          - unless @article.new_record?
            = link_to t('form.delete'), backend_galleries_article_path(@article), method: :delete, data: { confirm: t('form.sure?') }, class: 'btn btn-danger pull-right'
= render 'dropzone'
= tinymce
= render 'backend/articles/upload_image'
