.row
  = form.fields_for :main_image do |img_form|
    .col-sm-12
      .col-sm-6
        .form-group
          = form.label :main_image, class: 'col-sm-2 control-label'
          .col-sm-4= img_form.file_field :file, accept: 'image/png,image/gif,image/jpeg'
      .col-sm-6
        - if img_form.object.file?
          = image_tag img_form.object.url('378x249'), class: 'img-thumbnail img-responsive'
          .form-group
            .checkbox
              %label.checkbox
                = img_form.check_box :_destroy, skip_check: true
                %i.fa.fa-trash-o
.row
  .col-sm-12
    .form-group
      = form.label :gallery_files, class: 'col-sm-1 control-label'
      .form-group
        %button.btn.btn-primary{'data-target' => '#dropzoneModal', 'data-toggle' => 'modal', type: 'button'}
          Добавить файлы в галерею
      .form-group
        %ul.col-sm-11.list-inline#gallery-files{data: {sort_path: sort_backend_galleries_article_path(form.object)}}
          = form.fields_for :gallery_files do |img_form|
            %li{data: {id: img_form.object.id}}
              .form-group
                = img_form.hidden_field :id
                = image_tag img_form.object.url('378x249'), class: 'img-thumbnail img-responsive'
              .form-group
                = img_form.text_field :title, placeholder: t('activerecord.attributes.gallery_file.title'), maxlength: 255, size: 0, class: 'form-control'
              .form-group
                = img_form.text_area :description, rows: 5, maxlength: 255, size: 0, class: 'form-control'
                .checkbox
                  %label.checkbox
                    = img_form.check_box :_destroy, skip_check: true
                    %i.fa.fa-trash-o
