- content_for :title, "#{t('activerecord.models.gallery.labels.new')} #{t('activerecord.models.gallery.accusative')} - Anime Fag"

= render 'subnav'

%h1.page-header= "#{t('activerecord.models.gallery.labels.new')} #{t('activerecord.models.gallery.accusative')}"

= render 'form'
