%h1.page-header Главная
%h2.sub-header Создать
.row.placeholders.fast-create
  .col-xs-4.col-sm-4
    = link_to new_backend_article_path do
      %i.fa.fa-pencil
      %h4= t('activerecord.models.article.accusative')
  .col-xs-4.col-sm-4
    = link_to new_backend_videos_article_path do
      %i.fa.fa-youtube-play
      %h4= t('activerecord.models.video.accusative')
  .col-xs-4.col-sm-4
    = link_to '#' do
      %i.fa.fa-picture-o
      %h4= t('activerecord.models.gallery.accusative')
