- content_for :title, "#{t('activerecord.models.video.labels.index')} #{t('activerecord.models.video.many')} - Anime Fag"

= render 'subnav'

%h1.page-header= "#{t('activerecord.models.video.labels.index')} #{t('activerecord.models.video.many')}"
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th= t('activerecord.attributes.article.title')
        %th= t('activerecord.attributes.article.published_at')
        %th
    %tbody= render @articles
= paginate @articles
