- content_for :title, "#{t('activerecord.models.video.labels.new')} #{t('activerecord.models.video.accusative')} - Anime Fag"

= render 'subnav'

%h1.page-header= "#{t('activerecord.models.video.labels.new')} #{t('activerecord.models.video.accusative')}"

= render 'form'
