- content_for :title, "#{@article.title} - Anime Fag"
- content_for :description, @article.seo_description
- content_for :keywords, @article.seo_keywords
.row
  .col-lg-9
    .row
      %article.content
        %h1.title= @article.title
        .main-image= image_tag 'dummy/780x564.png', class: 'img-responsive', size: '780x564'
        .body
          = @article.content.html_safe

          .embed-responsive.embed-responsive-16by9
            %iframe{width: 800, height: 450,  src: 'https://www.youtube.com/embed/QeaFvbUi7mU?rel=0&amp;controls=0', frameborder: 0, allowfullscreen: ''}
    .row.same-posts-block
      .h2 Похожие записи
      .row.posts
        - 6.times do
          %article.col-lg-4.col-sm-4.col-xs-12
            = link_to article_path(1) do
              = image_tag 'dummy/250x211.png', class: 'img-responsive', size: '250x211'
              %h4.title Lorem ipsum dolor sit amet, consectetur adipisicing elit

  %aside.col-lg-3
    = render 'shared/blocks/aside_video_block'
    = render 'shared/blocks/aside_gallery_block'
