- content_for :title, "#{@article.title} - Anime Fag"
- content_for :description, @article.seo_description
- content_for :keywords, @article.seo_keywords

- if @article.is_gallery?
  .row
    .col-lg-9
      .row
        .content
          %h1.title= @article.title
  .row
  .col-lg-12
    .row
      :coffee
        window.galleryImages = #{@article.gallery_json}
      .fotorama{data: {width: '100%', maxheight: '600px'}}
        - @article.gallery_files.each do |file|
          %div{data: { caption: file.description, img: file.url('600x') }}
            = link_to '', '#', class: 'js-fullscreen', data: {src: file.url, width: file.original_width, height: file.original_height }

.row
  .col-lg-9
    .row
      %article.content
        - unless @article.is_gallery?
          %h1.title= @article.title
        - if @article.is_video?
          .main-video= @article.embed_video.html_safe
        - elsif !@article.is_gallery?
          .main-image= image_tag 'dummy/780x564.png', class: 'img-responsive', size: '780x564'
        .body
          = @article.content.html_safe
    - if @same_articles.present?
      .row.same-posts-block
        .h2 Похожие записи
        .row.posts
          = render partial: 'articles/article_small', collection: @same_articles, as: :article

  %aside.col-lg-3
    - if @article.is_video?
      = render 'shared/blocks/aside_post_block'
      = render 'shared/blocks/aside_gallery_block'
    - elsif @article.is_gallery?
      = render 'shared/blocks/aside_video_block'
      = render 'shared/blocks/aside_post_block'
    - else
      = render 'shared/blocks/aside_video_block'
      = render 'shared/blocks/aside_gallery_block'


- if @article.is_gallery?
  = render 'photoswipe'
