- content_for :title, "#{@article.title} - Anime Fag"
- content_for :description, @article.seo_description
- content_for :keywords, @article.seo_keywords
.row
  .col-lg-9
    .row
      %article.content
        %h1.title= @article.title
        - if @article.is_video?
          .main-video= @article.embed_video.html_safe
        - else
          .main-image= image_tag 'dummy/780x564.png', class: 'img-responsive', size: '780x564'
        .body
          = @article.content.html_safe
    - if @same_articles.present?
      .row.same-posts-block
        .h2 Похожие записи
        .row.posts
          = render partial: 'articles/article_small', collection: @same_articles, as: :article

  %aside.col-lg-3
    - if @article.is_video?
      = render 'shared/blocks/aside_post_block'
    - else
      = render 'shared/blocks/aside_video_block'
    = render 'shared/blocks/aside_gallery_block'
