= form_for [:backend, @banner], html: {class: 'form-horizontal'} do |form|
  %fieldset
    .row
      .col-sm-6
        .form-group
          = form.label :title, class: 'col-sm-4 control-label'
          .col-sm-8= form.text_field :title, class: 'form-control'
    .row
      .col-sm-6
        .form-group
          = form.label :content, class: 'col-sm-4 control-label'
          .col-sm-8= form.text_area :content, rows: 10, cols: 25, class: 'form-control'
    .row
      .col-sm-6
        .form-group
          = form.label :banner_placement_ids, class: 'col-sm-4 control-label'
          .col-sm-8
            - @placements.each do |c|
              .checkbox
                = check_box_tag 'banner[banner_placement_ids][]', c.id, (checked = form.object.banner_placement_ids.include?(c.id)), id: "banner_banner_placement_ids__#{c.id}"
                = label_tag "banner[banner_placement_ids][][#{c.id}]", c.title
    .row
      .col-sm-12
        .well
          = form.submit t('form.save'), data: { disable_with: t('form.wait') }, class: 'btn btn-success'
          = form.submit t('form.save_and_exit'), data: { disable_with: t('form.wait') }, class: 'btn btn-primary'
          = link_to t('form.cancel'), backend_banners_path, class: 'btn btn-warning'
          - unless @banner.new_record?
            = link_to t('form.delete'), backend_banner_path(@banner), method: :delete, data: { confirm: t('form.sure?') }, class: 'btn btn-danger pull-right'
