= form_tag '/backend/articles', class: 'form-horizontal' do
  %fieldset
    %ul.nav.nav-tabs.tabs
      %li.active
        %a{href:'#tab1', 'data-toggle' => 'tab'}= t('label.form.main')
      %li
        %a{href:'#tab2', 'data-toggle' => 'tab'}= t('label.form.media')
      %li
        %a{href:'#tab3', 'data-toggle' => 'tab'}= t('label.form.seo')
    .tab-content
      #tab1.tab-pane.active
        = render 'tab1'
      #tab2.tab-pane
      #tab3.tab-pane
    .row
      .col-sm-12
        .well
          = submit_tag t('form.save'), data: { disable_with: t('form.wait') }, class: 'btn btn-success'
          = submit_tag t('form.save_and_exit'), data: { disable_with: t('form.wait') }, class: 'btn btn-primary'
          = link_to t('form.cancel'), backend_articles_path, class: 'btn btn-warning'
          = link_to t('form.delete'), backend_article_path(1), method: :delete, data: { confirm: t('form.sure?') }, class: 'btn btn-danger pull-right'
= tinymce
