.row
  .col-sm-6
    .form-group
      = form.label :title, class: 'col-sm-4 control-label'
      .col-sm-8= form.text_field :title, class: 'form-control'
    .form-group
      = form.label :published_at, class: 'col-sm-4 control-label'
      .col-sm-5= form.text_field :published_at, class: 'form-control', id: 'datetimepicker'
    .form-group
      = form.label :category_id, class: 'col-sm-4 control-label'
      .col-sm-5
        = hidden_field_tag 'article[category_id]', nil
        = form.select :category_id, @categories, {include_blank: t('label.form.choose_category')}, class: 'form-control'
    .form-group
      = form.label :category_ids, class: 'col-sm-4 control-label'
      .col-sm-5
        = form.select :category_ids, @categories, {}, include_blank: t('label.form.choose_category'), multiple: true, class: 'form-control'
  .col-sm-6
    .checkbox
      = form.label :is_published do
        = form.check_box :is_published
        = t('activerecord.attributes.article.is_published')
    .checkbox
      = form.label :is_big do
        = form.check_box :is_big
        = t('activerecord.attributes.article.is_big')
.row
  .col-sm-6
    .form-group
      = form.label :source_name, class: 'col-sm-4 control-label'
      .col-sm-5= form.text_field :source_name, class: 'form-control'
    .form-group
      = form.label :source, class: 'col-sm-4 control-label'
      .col-sm-8= form.text_field :source, class: 'form-control'
.row
  .col-sm-6
    .form-group
      = form.label :seo_description, class: 'col-sm-4 control-label'
      .col-sm-8= form.text_area :seo_description, rows: 10, cols: 25, class: 'form-control'
.row
  .col-sm-12
    .form-group
      = form.label :tag_list, class: 'col-sm-2 control-label'
      .col-sm-8
        = text_field_tag 'article[tag_list]', form.object.tag_list.to_s, class: 'form-control tags-tokenizer', data: {taggable: 'articles'}
        %span.help-block= t('label.form.adding_by_enter_or_comma')
    .form-group
      = form.label :content, class: 'col-sm-2 control-label'
      .col-sm-8= form.text_area :content, rows: 30, cols: 25, class: 'form-control tinymce'
