.row
  .col-sm-6
    .form-group
      = label_tag 'seo_slug', t('activerecord.attributes.article.seo_slug'), class: 'col-sm-4 control-label'
      .col-sm-8= text_field_tag 'seo_slug', nil, class: 'form-control'
.row
  .col-sm-6
    .form-group
      = label_tag 'seo_keywords', t('activerecord.attributes.article.seo_keywords'), class: 'col-sm-4 control-label'
      .col-sm-8
        = text_field_tag 'seo_keywords', nil, class: 'form-control tags-tokenizer', data: {taggable: 'articles'}
        %span.help-block= t('label.form.adding_by_enter_or_comma')
.row
  .col-sm-6
    .form-group
      = label_tag 'seo_description', t('activerecord.attributes.article.seo_description'), class: 'col-sm-4 control-label'
      .col-sm-8= text_area_tag 'seo_description', nil, rows: 10, cols: 25, class: 'form-control'
