.row
  = form.fields_for :main_image do |img_form|
    .col-sm-12
      .col-sm-6
        .form-group
          = form.label :main_image, class: 'col-sm-2 control-label'
          .col-sm-4= img_form.file_field :file, accept: 'image/png,image/gif,image/jpeg'
      .col-sm-6
        - if img_form.object.file?
          = image_tag img_form.object.url('378x249'), class: 'img-thumbnail img-responsive'
          .form-group
            .checkbox
              %label.checkbox
                = img_form.check_box :_destroy, skip_check: true
                %i.fa.fa-trash-o
