- content_for :title, "#{t('activerecord.models.article.labels.new')} #{t('activerecord.models.article.accusative')} - Anime Fag"

= render 'subnav'

%h1.page-header= "#{t('activerecord.models.article.labels.new')} #{t('activerecord.models.article.accusative')}"

= render 'form'
