- content_for :title, "#{t('activerecord.models.video.title')} - Anime Fag"

.row
  .col-lg-9
    .row.videos-feed
      = render partial: 'articles/article_small', collection: @articles, as: :article
    = render 'shared/blocks/pagination'
  %aside.col-lg-3
    = render 'shared/blocks/aside_post_block'
    = render 'shared/blocks/aside_gallery_block'

