- content_for :title, "#{t('activerecord.models.video.title')} - Anime Fag"

.row
  - cache action: 'index', page: params[:page], action_suffix: 'article_feed' do
    .col-lg-9.col-md-9
      .videos-feed
        = render partial: 'articles/article_feed', collection: @articles, as: :article
      = render 'shared/blocks/pagination'
      .row
        .col-md-12.hidden-sm.hidden-xs
          .js-banner#videos-feed-footer-banner{data: {max_width: '840px'}}
  - cache action: 'index', action_suffix: 'aside' do
    %aside.col-lg-3.col-md-3
      .row
        .col-md-12
          .js-banner#videos-aside-banner-top{data: {max_width: '290px'}}
      - cache 'aside_post_block' do
        = render 'shared/blocks/aside_post_block'
      - cache 'aside_gallery_block' do
        = render 'shared/blocks/aside_gallery_block'

