.row
  .col-lg-9
    .row.biggest-post.center-block
      %article.col-lg-12
        = link_to '#' do
          = image_tag 'dummy/780x562.png', class: 'img-responsive', size: '780x562'
          %h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
    .row.big-posts
      %article.col-lg-6.col-sm-6.col-xs-12
        = link_to '#' do
          = image_tag 'dummy/378x247.png', class: 'img-responsive', size: '378x247'
          %h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
      %article.col-lg-6.col-sm-6.col-xs-12
        = link_to '#' do
          = image_tag 'dummy/378x247.png', class: 'img-responsive', size: '378x247'
          %h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
      %article.col-lg-6.col-sm-6.col-xs-12
        = link_to '#' do
          = image_tag 'dummy/378x247.png', class: 'img-responsive', size: '378x247'
          %h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
      %article.col-lg-6.col-sm-6.col-xs-12
        = link_to '#' do
          = image_tag 'dummy/378x247.png', class: 'img-responsive', size: '378x247'
          %h3.title Lorem ipsum dolor sit amet, consectetur adipisicing elit
  %aside.col-lg-3
    %h2 Aside
