.row.pagination.center-block
  - if params[:page].to_i == 0
    %span Назад
  - elsif params[:page].to_i == 1
    = link_to t('views.pagination.back'), controller: controller.controller_name, action: "#{controller.action_name.gsub('_page', '')}"
  - else
    = link_to t('views.pagination.back'), controller: controller.controller_name, action: "#{controller.action_name.gsub('_page', '')}_page", page: (params[:page].to_i - 1)
  = link_to t('views.pagination.forward'), controller: controller.controller_name, action: "#{controller.action_name.gsub('_page', '')}_page", page: (params[:page].to_i + 1)
