- content_for :title, "#{t('activerecord.models.gallery.title')} - Anime Fag"

.row
  .col-lg-9.col-md-9
    .galleries-feed
      = render partial: 'articles/article_feed', collection: @articles, as: :article
    = render 'shared/blocks/pagination'
  %aside.col-lg-3.col-md-3
    = render 'shared/blocks/aside_post_block'
    = render 'shared/blocks/aside_video_block'

