!!! 5
%html(lang="ru")
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv '=> 'X-UA-Compatible'}
    %meta{content: '', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}

    %title= content_for?(:title) ? yield(:title) : 'Anime Fag'

    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag 'normalize'
    = stylesheet_link_tag 'backend', media: 'all'

    = favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png'
    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    = javascript_include_tag 'modernizr-2.8.3.min'
    = tinymce_assets
  %body{class: controller_name}
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => false, 'data-target' => '#navbar', 'data-toggle' => 'collapse', type: 'button'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Anime Fag', backend_root_path, class: 'navbar-brand'
        #navbar.navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to root_path do
                %i.fa.fa-home
                Frontend
            %li
              = link_to '#' do
                %i.fa.fa-cog
                Настройки
            %li
              = link_to destroy_admin_session_path, method: :delete do
                %i.fa.fa-sign-out
                = t('activerecord.models.admin.labels.logout')
          %form.navbar-form.navbar-right
            %input.form-control{:placeholder => "Search...", :type => "text"}/
    .container-fluid
      .row
        .col-sm-3.col-md-2.sidebar
          %ul.nav.nav-sidebar
            %li{class: active_action?('backend/dashboard_controller', 'index')}
              = link_to backend_root_path do
                %i.fa.fa-tachometer
                Главная
            %li{class: active_action?('backend/articles_controller', 'index')}
              = link_to backend_articles_path do
                %i.fa.fa-list-alt
                = t('activerecord.models.article.title')
            %li{class: active_action?('backend/videos/articles_controller', 'index')}
              = link_to backend_videos_articles_path do
                %i.fa.fa-youtube-play
                = t('activerecord.models.video.title')
            %li{class: active_action?('backend/galleries/articles_controller', 'index')}
              = link_to backend_galleries_articles_path do
                %i.fa.fa-picture-o
                = t('activerecord.models.gallery.title')
        .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
          = bootstrap_flash
          = yield

    = javascript_include_tag 'backend'
